@model IEnumerable<Joo_website.Models.PetShop>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        @foreach (var item in Model)
        {
            if (item.category == "dog")
            { 
                @Html.DisplayFor(modelItem => item.description)
            }
        }
    </div>
</body>
</html>
